name: Frontend Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          set -e

          export PATH=$PATH:/home/ubuntu/.nvm/versions/node/v22.16.0/bin
          cd /home/ubuntu/culturemate-fe
          git pull origin main
          npm install
          npm run build
          pm2 reload culturemate-fe || pm2 start /home/ubuntu/ecosystem.config.js
